{% set _dummy2 = pdfContext.setOption('margin_top', '50') %}
{% set _dummy3 = pdfContext.setOption('margin_header', '15') %}
{% set _dummy = pdfContext.setOption('fonts', {
    'podkova': {
        'R': 'Podkova-Regular.ttf',
        'B': 'Podkova-Bold.ttf'
    },
    'podkovamedium': {
        'R': 'Podkova-Medium.ttf'
    },
    'podkovasemibold': {
        'R': 'Podkova-SemiBold.ttf'
    },
    'podkovaextrabold': {
        'R': 'Podkova-ExtraBold.ttf'
    }
}) %}
<!DOCTYPE html>
<html lang="{{ invoice['invoice.language'] }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ invoice['invoice.number'] }}-{{ invoice['customer.company']|default(invoice['customer.name'])|u.snake }}{% endblock %}</title>
    <style>
        {{ encore_entry_css_source('invoice-pdf')|raw }}
        body { font-family: podkova, sans-serif; }
        table.header { border: 1px solid #000; border-bottom: 1px solid #000; padding: 25px; }
        table.footer { border-top: 1px solid #000; }
        table.items thead th, table.items tbody td { border-bottom: 1px solid #000; }
    </style>
</head>
<body>
<!--mpdf
<htmlpageheader name="header">
    <table class="header">
        <tr>
            <td class="title" width="70%" valign="middle">
                <table>
                    <tr>
                        <td style="font-size: 26pt; font-family: podkovasemibold; line-height: 1">{{ invoice['template.company'] }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 12pt; font-family: podkovasemibold">Web Development</td>
                    </tr>
                </table>
            </td>
            <td width="30%" valign="middle" style="vertical-align: middle; font-size: 11pt">
               {{ invoice['template.address']|trim }}<br>
               {{ invoice['template.contact']|replace({' – ': "\n"})|nl2str('<br />') }}
               <!--
               {% if invoice['template.country'] is not null %}
                    {% set country = invoice['template.country']|country_name(invoice['invoice.language']) %}
                    {% if country not in invoice['template.address'] %}
                        <br> {{ country }}
                    {% endif %}
                {% endif %}
                -->
            </td>
        </tr>
    </table>
</htmlpageheader>
<sethtmlpageheader name="header" page="ALL" value="on" show-this-page="1" />
<htmlpagefooter name="footer">
    <table class="footer">
        <tr>
            <td>
                {% if invoice['template.vat_id'] is not empty %}
                <strong>{{ 'vat_id'|trans }}:</strong>
                {{ invoice['template.vat_id'] }} |
                {% endif %}
                <strong>{{ 'invoice_bank_account'|trans }}:</strong>
                {{ invoice['template.payment_details']|nl2str(' – ') }}
            </td>
            <td align="right">
                {{ 'export.page_of'|trans({'%page%': '{PAGENO}', '%pages%': '{nb}'}) }}
            </td>
        </tr>
    </table>
</htmlpagefooter>
<sethtmlpagefooter page="ALL" value="on" name="footer" show-this-page="1" />
mpdf-->
    <table class="addresses">
        <tr>
            <td style="width:65%">
                {{ invoice['customer.company']|default(invoice['customer.name']) }}
                <br>
                {{ invoice['customer.address']|nl2br }}
                {% set country = invoice['customer.country']|country_name(invoice['invoice.language']) %}
                {% if country not in invoice['customer.address'] %}
                    <br> {{ country }}
                {% endif %}
                {% if invoice['customer.vat_id'] is not empty %}
                    <br>
                    {{ 'vat_id'|trans }}: {{ invoice['customer.vat_id'] }}
                {% endif %}
            </td>
            <td style="white-space: nowrap">
                <table>
                    <tr>
                        <td nowrap><strong>{{ 'invoice.number'|trans }}:</strong></td>
                        <td nowrap>{{ invoice['invoice.number'] }}</td>
                    </tr>
                    <tr>
                        <td nowrap><strong>{{ 'date'|trans }}:</strong></td>
                        <td nowrap>{{ invoice['invoice.date'] }}</td>
                    </tr>
                    <tr>
                        <td nowrap><strong>{{ 'invoice.due_days'|trans }}:</strong></td>
                        <td nowrap>{{ invoice['invoice.due_date'] }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

<div style="font-size: 12pt; font-family: podkovasemibold; margin-top: 25mm;">{{ invoice['template.title'] }}</div>

    <p>
{#        {% if invoice['customer.number'] is not empty %}#}
{#            <br>#}
{#            {{ 'number'|trans }}:#}
{#            {{ invoice['customer.number'] }}#}
{#        {% endif %}#}

        {% if invoice['query.project.order_number'] is defined and invoice['query.project.order_number'] is not empty %}
            <br>
            {{ 'orderNumber'|trans }}:
            {{ invoice['query.project.order_number'] }}
        {% endif %}
    </p>

    {% if invoice['customer.invoice_text'] is not empty%}
        <p>{{ invoice['customer.invoice_text']|md2html }}</p>
    {% endif %}

    <table class="items">
        <thead>
            <tr>
                <th class="first"><strong>{{ 'date'|trans }}</strong></th>
                <th><strong>{{ 'description'|trans }}</strong></th>
                <th class="text-right"><strong>{{ 'unit_price'|trans }}</strong></th>
                <th class="text-right"><strong>{{ 'amount'|trans }}</strong></th>
                <th class="last text-right"><strong>{{ 'total_rate'|trans }}</strong></th>
            </tr>
        </thead>
        <tbody>
        {% for invoiceLineItem in entries %}
            <!-- CONTENT_PART -->
            <tr>
                <td nowrap class="first text-nowrap">{{ invoiceLineItem['entry.begin'] }}</td>
                <td>
                    {% if invoiceLineItem['entry.description'] is not empty %}
                        {{ invoiceLineItem['entry.description']|nl2br }}
                    {% else %}
                        {% if invoiceLineItem['entry.activity'] is defined %}
                            {{ invoiceLineItem['entry.activity'] }} /
                        {% endif %}
                        {{ invoiceLineItem['entry.project'] }}
                    {% endif %}
                </td>
                <td nowrap class="text-nowrap text-right">{{ invoiceLineItem['entry.rate'] }}</td>
                <td nowrap class="text-nowrap text-right">{{ invoiceLineItem['entry.amount'] }}</td>
                <td nowrap class="last text-nowrap text-right">{{ invoiceLineItem['entry.total'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <!--
            <tr>
                <td colspan="4" class="text-right">
                    {{ 'invoice.subtotal'|trans }}
                </td>
                <td class="last text-right">{{ invoice['invoice.subtotal'] }}</td>
            </tr>
            {% for taxRow in invoice['invoice.tax_rows'] %}
                {% if taxRow['show'] %}
                <tr>
                    <td colspan="4" class="text-right">
                        {{ taxRow['name']|trans }} ({{ taxRow['rate'] }}%)
                        {% if taxRow['note'] is not null %}
                            <sup>[{{ taxRow['counter'] }}]</sup>
                        {% endif %}
                    </td>
                    <td class="last text-right">{{ taxRow['amount']|money(taxRow['currency']) }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            -->
            <tr>
                <td colspan="4" class="text-right text-nowrap">
                    <strong>{{ 'invoice.total'|trans }}</strong>
                </td>
                <td class="last text-right">
                    <strong>{{ invoice['invoice.total'] }}</strong>
                </td>
            </tr>
        </tfoot>
    </table>

    {% for taxRow in invoice['invoice.tax_rows'] %}
        {% if taxRow['note'] is not null %}
            <p>
                <sup>[{{ taxRow['counter'] }}]</sup>
                {{ taxRow['note']|trans }}
            </p>
        {% endif %}
    {% endfor %}

    {% if invoice['template.payment_terms'] is not empty %}
        {{ invoice['template.payment_terms']|md2html }}
    {% endif %}
</body>
</html>
